rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Topics Collection
    // Read: authenticated users only
    // Write: admin only
    match /topics/{topicId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
    }
    
    // Questions Collection
    // Read: authenticated users only
    // Write: admin only
    match /questions/{questionId} {
      allow read: if request.auth != null;
      allow create, update, delete: if request.auth != null && request.auth.token.admin == true;
    }
    
    // User Specific Data (Phase 5 + 8)
    match /users/{userId} {
      allow read, create: if request.auth != null && request.auth.uid == userId;
      allow delete, update: if false;

      match /solved/{questionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
      
      match /bookmarks/{questionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
